// Adding support for language written in a Right To Left (RTL) direction is easy -
// it's just a matter of overwriting all the horizontal positioning attributes
// of your CSS stylesheet in a separate stylesheet file named rtl.css.

body {
	direction: rtl;
	unicode-bidi: embed;
}

image-button {
	text-indent: 99999px;
}

.more-link {
	float: left;
	margin-top: 20px;
}

.comment-body {
	float: right;
	padding: 20px 10px 15px 20px; }

.comment-body:hover {
	border-left: none;
	border-right: 10px solid black; }

.comment-body:hover:before {
	right: 0; }

.comment-body:after {
	right: 0; }

.comment-body p {
	padding: 10px 0 10px 0; }

.comment-edit-link {
	float: left !important;
	margin-right: 5px; }

#comments .reply {
	float: left; }

h2.comments-title {
	text-align: center; }

.logged-in-as .btn {
	float: left !important; }

.widget-title {
	padding-right: 10px;
	padding-left: 5px; }

form.search-form .btn {
	left: 0 !important; }

.widget_recent_entries ul {
	margin-right: 20px; }

.widget_recent_entries ul li {
	padding-left: 35px;
	text-indent: -30px; }

.widget_recent_entries ul li:before {
	content: "";
	float: right;
	margin: 2px 10px 0 10px; }

.mixa-recent-posts-card {
	margin: 0 0 5px 0;
	vertical-align: top; }

.mixa-recent-posts-card img {
	float: right;
	margin: 0 10px 10px 0; }

.widget_archive ul li {
	float: right; }

.widget_categories ul li.cat-item {
	float: right; }

.widget_meta ul li:nth-of-type(1):before,
.widget_meta ul li:nth-of-type(2):before,
.widget_meta ul li:nth-of-type(3):before,
.widget_meta ul li:nth-of-type(4):before,
.widget_meta ul li:nth-of-type(5):before {
	float: right; }

#sticky-box {
	right: 688px; }

blockquote {
	border-left: none;
	border-right: 5px solid #eee;
}